
:root{
	--white-color:#fff;
};

*, *::before, *::after{
	box-sizing: border-box;
}

body{
	margin:0;
	padding:0;
	font-family:Arial;
	text-align: center;
	background:url("image.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	color:blue;
}

a{
	text-decoration: none;
	color:blue;
	
}

h1, h2{
	margin:0;
	padding:0;
}

::-webkit-scrollbar{
	display:none;
};

/*header*/

.header{
	
}

.header h1{
	margin:2rem 0;
	letter-spacing: 2px;
	font-size:1.2rem;
	font-weight:lighter;
}


/*Showcase*/

.showcase{
	margin:7rem 0;
}


.showcase .showcase-heading{
	width:40%;
	margin:4rem auto;
}

.showcase .showcase-link{
	background:blue;
	color:var(--white-color);
	padding:0.5rem 0.8rem;
	border-radius:20px;
}

.showcase .showcase-link:hover{
	background:var(--white-color);
	color:blue;
}

/*Category*/

.category .light-bg{
	background:rgba(0,0,0,0.4);
	height:300px;
}

.category p{
	color:var(--white-color);
}

.category .box i{
	color:var(--white-color);
}

/*Footer*/

.footer .bg-grey{
	background:lightblue;
	height:100px;
} 

.footer .box{
	margin:0 1rem;
}


.footer .box i{
	color:var(--white-color);
}


.footer .box a i:hover{
	color:blue;
}




/*Utilities*/

.grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	align-items: center;
}

.flex{
	display:flex;
	justify-content: center;
	align-items: center;
}


@media(max-width:768px){
	.grid{
		grid-template-columns: 1fr;
	}

	.category .light-bg{
		height:500px;
	}
}
